pipeline/PL_CARGA_RANGO_FECHAS_inc.json
{
	"name": "PL_CARGA_RANGO_FECHAS_inc",
	"properties": {
		"activities": [
			{
				"name": "Generar rango fechas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct EOMONTH(fechaFactura)  FechaFactura from dbo.Factura where day(fechaFactura)=1 order by 1 asc\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_LEER",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IterarPorCadaCierre",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Generar rango fechas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Generar rango fechas').output.value[1])",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "PL_CARGA_INCREMENTAL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CARGA_INCREMENTAL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FechaCorte": {
										"value": "@item().value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "LABORATORIO"
		},
		"annotations": []
	}
}