pipeline/PL_CARGA_RANGO_FECHAS_inc.json
{
	"name": "PL_CARGA_RANGO_FECHAS_inc",
	"properties": {
		"activities": [
			{
				"name": "Generar rango fechas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct EOMONTH(fechaFactura) from dbo.Factura where day(fechaFactura)=1 order by 1 asc\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_LEER",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IterarPorCadaCierre",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Generar rango fechas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Generar rango fechas').output.value)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CargaIncrementalParametrizada",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@SELECT idFactura,idCliente,idEmpleado,fechaFactura,subtotal,impuestos FROM dbo.Factura WHERE EOMONTH(fechaFactura)=item()",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_LEER",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CSV_LEER",
									"type": "DatasetReference",
									"parameters": {
										"directorio": "/Taller/dbo/Factura/",
										"nombreArchivo": {
											"value": "@Factura_item().csv",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"fechacorte": {
				"type": "string",
				"defaultValue": "20210131"
			}
		},
		"folder": {
			"name": "LABORATORIO"
		},
		"annotations": []
	}
}