adf-bancosol-dsalazar/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-bancosol-dsalazar"
		},
		"ls_conn_dta_lake_banco_sol_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_conn_dta_lake_banco_sol'"
		},
		"ls_maquina_local_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_maquina_local'"
		},
		"ls_sql_database_banco_sol_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_database_banco_sol'"
		},
		"ls_sql_local_dirza_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_local_dirza'"
		},
		"ls_conn_dta_lake_banco_sol_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlsbancosoltraining.dfs.core.windows.net"
		},
		"ls_maquina_local_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\dirzasalazarmonaster\\Documents\\DATAFACTORY"
		},
		"ls_maquina_local_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "dirzasalaza6d0a\\dirzasalazarmonaster"
		},
		"ls_keyvault_banco_sol_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-bancosol-training.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPIA_FILESYSTEM_A_DATALAKE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copiar filesystem a datalake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelFromMyPC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_ExcelConvertidoNube",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "CLASE02"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelFromMyPC')]",
				"[concat(variables('factoryId'), '/datasets/CSV_ExcelConvertidoNube')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPIA_FILESYSTEM_A_DATALAKE_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copiar filesystem a datalake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelFromMyPC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_EjemploClase02",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "CLASE02"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelFromMyPC')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_EjemploClase02')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PRUEBA_FLUJOS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline generado para ejemplos de flujos.",
				"activities": [
					{
						"name": "InicioProceso",
						"description": "Marca el inicio de ejecucion",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FechaIni",
							"value": "utcnow()"
						}
					},
					{
						"name": "ObtieneMensaje",
						"description": "Primer Proceso",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "InicioProceso",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Mensaje",
							"value": "Estoy en Segundo proceso"
						}
					},
					{
						"name": "EstableceMensaje",
						"description": "Cuando Ocurre exito",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ObtieneMensaje",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "EstadoProceso",
							"value": "ok"
						}
					},
					{
						"name": "EstableceMensajeErr",
						"description": "CuandoOcurreError",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ObtieneMensaje",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Mensaje",
							"value": "error\n"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"FechaIni": {
						"type": "String",
						"defaultValue": "utcnow()"
					},
					"Mensaje": {
						"type": "String",
						"defaultValue": "EstadoEjecucion"
					},
					"EstadoProceso": {
						"type": "Boolean",
						"defaultValue": true
					}
				},
				"folder": {
					"name": "CLASE01"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_ExcelConvertidoNube')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_conn_dta_lake_banco_sol",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE02"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EjemploClase02.csv",
						"folderPath": "Clase02",
						"fileSystem": "aci-dsalazar"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_conn_dta_lake_banco_sol')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelFromMyPC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_maquina_local",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE02"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Hoja1",
					"location": {
						"type": "FileServerLocation",
						"fileName": "BaseUpload.xlsx"
					},
					"firstRowAsHeader": true,
					"nullValue": " "
				},
				"schema": [
					{
						"name": "CERTIFICADO_LBC",
						"type": "String"
					},
					{
						"name": "NRO_CUENTA",
						"type": "String"
					},
					{
						"name": "FECHA_INICIO_VIGENCIA",
						"type": "String"
					},
					{
						"name": "FECHA_FIN_VIGENCIA",
						"type": "String"
					},
					{
						"name": "COD_PRODUCTO",
						"type": "String"
					},
					{
						"name": "PRODUCTO",
						"type": "String"
					},
					{
						"name": "PRIMA",
						"type": "String"
					},
					{
						"name": "FECHA_REGISTRO",
						"type": "String"
					},
					{
						"name": "TRANSACCION",
						"type": "String"
					},
					{
						"name": "FECHA_COBRO",
						"type": "String"
					},
					{
						"name": "ESTADO_SEGURO_BT",
						"type": "String"
					},
					{
						"name": "NOMBRE",
						"type": "String"
					},
					{
						"name": "APELLIDO",
						"type": "String"
					},
					{
						"name": "APELLIDO_MATERNO",
						"type": "String"
					},
					{
						"name": "TIPO_DOCUMENTO",
						"type": "String"
					},
					{
						"name": "NUMERO_DOCUMENTO",
						"type": "String"
					},
					{
						"name": "COMPLEMENTO_DOCUMENTO",
						"type": "String"
					},
					{
						"name": "EXPEDICION_DOCUMENTO",
						"type": "String"
					},
					{
						"name": "PAIS_DOCUMENTO",
						"type": "String"
					},
					{
						"name": "FECHA_NACIMIENTO",
						"type": "String"
					},
					{
						"name": "ESTADO_CIVIL",
						"type": "String"
					},
					{
						"name": "TELEFONO_DOMICILIO",
						"type": "String"
					},
					{
						"name": "TELEFONO_LABORAL",
						"type": "String"
					},
					{
						"name": "DIRECCION_DOMICILIO",
						"type": "String"
					},
					{
						"name": "SEXO",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_maquina_local')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_EjemploClase02')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_conn_dta_lake_banco_sol",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE02"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Ejemplo02.Parquet",
						"folderPath": "Clase02",
						"fileSystem": "aci-dsalazar"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_conn_dta_lake_banco_sol')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_conn_dta_lake_banco_sol')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Azure data lake storage gen2 para conectar hacia data lake banco sol",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_conn_dta_lake_banco_sol_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_conn_dta_lake_banco_sol_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_maquina_local')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "linked server con mi sistema de archivos local",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ls_maquina_local_properties_typeProperties_host')]",
					"userId": "[parameters('ls_maquina_local_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_maquina_local_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ir-coneccion-dirzapc",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-coneccion-dirzapc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_database_banco_sol')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_database_banco_sol_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-coneccion-dirzapc')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Integration runtime con mi equipo local dirza pc",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-conexion-local')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Integration Runtime para conectar con local machine *dirza pc",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyvault_banco_sol')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_keyvault_banco_sol_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_local_dirza')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Server Maquina Local",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_local_dirza_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ir-coneccion-dirzapc",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-coneccion-dirzapc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_BD_ONPREM_DIRZA_DATASET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_local_dirza",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "Person",
					"table": "Person"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_local_dirza')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_BD_NUBE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_database_banco_sol",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PersonasDidi"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_database_banco_sol')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPIA_TABLA_HACIANUBE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copiar Data desde OnPrem hacia nube",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "DELETE FROM dbo.PersonasDidi",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_BD_ONPREM_DIRZA_DATASET",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_BD_NUBE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_BD_ONPREM_DIRZA_DATASET')]",
				"[concat(variables('factoryId'), '/datasets/SQL_BD_NUBE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_LEER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_database_banco_sol",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_database_banco_sol')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_LEER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_conn_dta_lake_banco_sol",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directorio": {
						"type": "string"
					},
					"nombreArchivo": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().nombreArchivo",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directorio",
							"type": "Expression"
						},
						"fileSystem": "aci-dsalazar"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_conn_dta_lake_banco_sol')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CARGA_INCREMENTAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CargaIncremental DAtos Hacia Datalake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT idFactura,idCliente,idEmpleado,fechaFactura,subtotal,impuestos \nFROM dbo.Factura \nWHERE EOMONTH(fechaFactura)='@{pipeline().parameters.FechaCorte}'\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_LEER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_LEER",
								"type": "DatasetReference",
								"parameters": {
									"directorio": "/Taller/dbo/Factura/",
									"nombreArchivo": {
										"value": "@concat('Factura_',pipeline().parameters.FechaCorte,'.CSV')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FechaCorte": {
						"type": "string"
					}
				},
				"folder": {
					"name": "LABORATORIO"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_LEER')]",
				"[concat(variables('factoryId'), '/datasets/CSV_LEER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_REGISTROENPATHDIRZA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_conn_dta_lake_banco_sol",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directorio": {
						"type": "string"
					},
					"nombreArchivo": {
						"type": "string"
					}
				},
				"folder": {
					"name": "LABORATORIO"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().nombreArchivo",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directorio",
							"type": "Expression"
						},
						"fileSystem": "aci-dsalazar"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_conn_dta_lake_banco_sol')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CARGA_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga Stock Tabla hasta Repo",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT idCliente,nombres,limiteCredito FROM dbo.Cliente",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_LEER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_LEER",
								"type": "DatasetReference",
								"parameters": {
									"directorio": "/Taller/dbo/Cliente",
									"nombreArchivo": "Cliente.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "LABORATORIO"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_LEER')]",
				"[concat(variables('factoryId'), '/datasets/CSV_LEER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CARGA_RANGO_FECHAS_inc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Generar rango fechas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select distinct EOMONTH(fechaFactura)  FechaFactura from dbo.Factura where day(fechaFactura)=1 order by 1 asc\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_LEER",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "IterarPorCadaCierre",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Generar rango fechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@array(activity('Generar rango fechas').output.value)",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "PL_CARGA_INCREMENTAL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CARGA_INCREMENTAL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"FechaCorte": {
												"value": "@item().fechaFactura",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_CARGA_STOCK",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CARGA_STOCK",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "LABORATORIO"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_LEER')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CARGA_INCREMENTAL')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CARGA_STOCK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SC_PROGRAMACION_NOCTURNA')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "EJECUTARA LA CARGA INCREMENTAL PROGRAMADA",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_CARGA_RANGO_FECHAS_inc",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-03-30T23:00:00",
						"endTime": "2022-04-01T02:43:00",
						"timeZone": "SA Western Standard Time",
						"schedule": {}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CARGA_RANGO_FECHAS_inc')]"
			]
		}
	]
}